= semantic_form_for resource do |form|
  = form.semantic_errors
  = form.inputs do
    = form.input :name
    = form.input :prename
    = form.input :parent
    = form.input :address, :as => :text
    = form.input :sex, :as => :select, :collection => { "Mädchen" => 'f', "Knabe" => 'm' }
    = form.input :grade
    = form.input :entered_at, :as => :date

    -# mongoid relations are not yet supported, we have to build the selection
    -# manually
    %li#kid_mentor_id_input.select.optional
      %label Mentor
      = form.collection_select(:mentor_id, Mentor.all, :id, :display_name, {:prompt => true})
    %li#kid_secondary_mentor_id_input.select.optional
      %label Zweiter Mentor
      = form.collection_select(:secondary_mentor_id, Mentor.all, :id, :display_name, {:prompt => true})

  %h2= Journal.model_name.human

  = form.semantic_fields_for :journals, resource.journals_sorted do |nested_form|
    %h3= nested_form.object.display_name
    = form.inputs do
      = nested_form.input :held_at, :as => :date
      = nested_form.input :goal
      = nested_form.input :subject, :as => :text
      = nested_form.input :method
      = nested_form.input :outcome, :as => :text

  %h2= Review.model_name.human

  = form.semantic_fields_for :reviews, resource.reviews_sorted do |nested_form|
    %h3= nested_form.object.display_name
    = form.inputs do
      = nested_form.input :held_at, :as => :date
      = nested_form.input :reason
      = nested_form.input :kind
      = nested_form.input :content, :as => :text
      = nested_form.input :outcome, :as => :text
      = nested_form.input :note, :as => :text


  = form.buttons 
