= render :partial => 'subnav'

= semantic_form_for resource, :html => { :id => 'content_form' } do |form|
  %h2#kid= resource.display_name

  = form.semantic_errors
  = form.inputs do
    = form.input :name
    = form.input :prename
    = form.input :parent
    = form.input :address, :as => :text
    = form.input :sex, :as => :select, :collection => { "Mädchen" => 'f', "Knabe" => 'm' }
    = form.input :entered_at, :as => :date

  %h2#school Allgemeine Informationen
  = form.inputs do
    = form.input :goal, :as => :text
    = form.input :grade
    -# mongoid relations are not yet supported, we have to build the selection
    -# manually
    %li#kid_teacher_id_input.select.optional
      %label Lehrer
      = can_select(form, 'teacher_id', Teacher)
    %li#kid_mentor_id_input.select.optional
      %label Mentor
      = can_select(form, 'mentor_id', Mentor)
    %li#kid_secondary_mentor_id_input.select.optional
      %label Zweiter Mentor
      = can_select(form, 'secondary_mentor_id', Mentor)

  = form.buttons 
