= render :partial => 'subnav'

= semantic_form_for resource, :html => { :id => 'content_form' } do |form|
  %h2#kid= resource.display_name

  = form.semantic_errors
  = form.inputs do
    = form.input :name
    = form.input :prename
    = form.input :parent
    = form.input :address
    = form.input :sex, :as => :select, :collection => { "Mädchen" => 'f', "Knabe" => 'm' }
    = form.input :entered_at, :as => :string

  %h2#school Allgemeine Informationen
  = form.inputs do
    = form.input :goal
    = form.input :grade
    = form.input :teacher
    = form.input :secondary_teacher
    = form.input :mentor
    = form.input :secondary_mentor

  = form.buttons 
