= simple_form_for @kid do |form|
  = form.input :name, required: true
  = form.input :prename, required: true
  = form.input :sex, :collection => sex_collection, required: true
  = form.input :dob, as: :date, html5: true
  = form.input :grade, :collection => grade_collection, required: true
  = form.input :language, required: true
  = form.input :parent_country, priority: ["AL", "TR", "LK", "XK", "ES", "PT"], :include_blank => true, locale: 'de'

  = form.input :parent, required: true
  = form.input :address, required: true
  = form.input :city, required: true
  = form.input :phone, required: true
  = form.input :translator
  = form.input :note
  = form.association :school, collection: @schools, include_blank: @schools_include_blank

  %h2#school Allgemeine Informationen
  %label.string.col-sm-3.control-label
  .col-sm-9
    %p Auf welche Fächer und Themenbereiche soll im Mentoring fokussiert werden?
  = form.input :goal_1, required: true
  %label.string.col-sm-3.control-label
  .col-sm-9
    %p Welche Kompetenzen (personale, soziale, methodische) sollen im Mentoring gestärkt werden?
  = form.input :goal_2, required: true
  - unless @site.kids_schedule_hourly
    %label.string.col-sm-3.control-label
    .col-sm-9
      %p Bitte mehrere Zeitfenster angeben, in denen das Kind Zeit für das Mentoring hat.
    = form.input :simplified_schedule, required: true
  - if current_user.is_a?(Admin)
    = form.input :meeting_day, :collection => wday_collection
    = form.input :meeting_start_at, :as => :string, input_html: { value: @kid.human_meeting_start_at, autocomplete: 'off' }
  -# this form is accessible by admins and teachers. teachers can only set the
  -# the secondary_mentor and ara automatically assigned as first mentor for any kid
  -# they are working on
  - if current_user.is_a?(Admin)
    = form.association :teacher, :collection => Teacher.active
    = form.association :secondary_teacher, :collection => Teacher.active
    = form.association :third_teacher, :collection => Teacher.active
    = form.association :mentor, :collection => Mentor.active
    = form.association :secondary_mentor, :collection => Mentor.active
    = form.input :secondary_active
  - if current_user.is_a?(Admin) && @site.feature_coach?
    = form.input :admin_id, :collection => Admin.active

  - if current_user.is_a?(Admin)
    %h2#internal Projektinterne Informationen
    = form.input :term, :collection => term_collection
    = form.input :exit, :collection => term_collection
    = form.input :exit_reason, :collection => exit_reason_collection
    = form.input :exit_kind, :collection => exit_kind_collection
    = form.input :exit_at, as: :date, html5: true
    = form.input :checked_at, as: :date, html5: true
    - if @site.feature_coach?
      = form.input :coached_at, as: :date, html5: true
    = form.input :abnormality
    = form.input :abnormality_criticality, :collection => criticality_collection
    = form.input :todo
    %a(name='todo')
    = form.input :inactive

  .col-sm-offset-3.col-sm-9
    = form.button :submit
