- content_for :sidebar do

  .panel.panel-default
    .panel-heading
      %h4.panel-title(data-toggle="collapse" data-target="#collapseJournals")
        Lernjournale
        %span.badge.pull-right=@kid.journals.size
    #collapseJournals.collapse.list-group.kidanchors
      - @kid.journals.each do |journal|
        .list-group-item
          = link_to journal.display_name, :anchor => dom_id(journal)

  - if @kid.mentor == current_user || current_user.is_a?(Admin)
    .panel.panel-default
      .panel-heading
        %h4.panel-title(data-toggle="collapse" data-target="#collapseReviews")
          Gespräche
          %span.badge.pull-right=@kid.reviews.size
      #collapseReviews.collapse.list-group.kidanchors
        - @kid.reviews.each do |review|
          .list-group-item
            = link_to review.display_name, :anchor => dom_id(review)

= show_for @kid do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :sex
  = show.attribute :dob
  = show.attribute :grade
  = show.attribute :language
  = show.attribute :parent
  = show.attribute :address
  = show.attribute :city
  = show.attribute :phone
  = show.attribute :translator
  = show.attribute :note
  = show.attribute :school do
    = can_link_to(@kid.school)

= show_for @kid do |show|
  %h2#school Allgemeine Informationen
  = show.attribute :goal_1
  - if @kid.goal_1_updated_at
    = show.attribute :goal_1_updated_at
  = show.attribute :goal_2
  - if @kid.goal_2_updated_at
    = show.attribute :goal_2_updated_at
  = show.attribute :meeting_day
  = show.attribute :meeting_start_at
  = show.attribute :teacher do
    = can_link_to(@kid.teacher)
  = show.attribute :secondary_teacher do
    = can_link_to(@kid.secondary_teacher)
  = show.attribute :mentor do
    = can_link_to(@kid.mentor)
  = show.attribute :secondary_mentor do
    = can_link_to(@kid.secondary_mentor)
  = show.attribute :secondary_active
  - if @site.feature_coach?
    = show.attribute :admin do
      = can_link_to(@kid.admin)

- if current_user.is_a?(Admin)
  = show_for @kid do |show|
    %h2#internal Projektinterne Informationen
    = show.attribute :term
    = show.attribute :exit
    = show.attribute :exit_reason
    = show.attribute :exit_kind
    - if 'later' == @kid.exit_kind
      = show.attribute :exit_at
    - if @site.feature_coach?
      = show.attribute :coached_at
    = show.attribute :abnormality
    = show.attribute :abnormality_criticality
    = show.attribute :todo
    = show.attribute :schedules_updated_at
    = show.attribute :inactive
    = render 'relation_logs/collection', resource: @kid

%h2#journals
  Lernjournale
  - if can?(:create, @cancan_journal)
    =link_to 'Neues Lernjournal', new_kid_journal_path(@kid), class: 'btn btn-default pull-right'
- @kid.journals.each do |journal|
  .panel.panel-default[journal]
    .panel-heading
      .btn-group.pull-right
        - if can?(:edit, journal)
          = link_to 'Bearbeiten', edit_kid_journal_path(@kid, journal), class: 'btn btn-default'
        - if can?(:delete, journal)
          = link_to "Löschen", kid_journal_path(@kid, journal), { :method => :delete, :class => 'btn btn-default', data: { confirm: "Sind Sie sicher?" } }
        - if can?(:create, Comment)
          = link_to 'Kommentieren', new_kid_journal_comment_path(@kid, journal), class: 'btn btn-default'
      %h4= journal.display_name
    .panel-body
      = show_for journal do |journal_show|
        = journal_show.attribute :mentor do
          = can_link_to(journal.mentor)
        = journal_show.attribute :held_at
        - if journal.cancelled?
          = journal_show.attribute :cancelled
        - else
          = journal_show.attribute :start_at
          = journal_show.attribute :end_at
        = journal_show.attribute :goal
        = journal_show.attribute :subject
        = journal_show.attribute :method
        = journal_show.attribute :outcome
        = journal_show.attribute :note
        -# everybody that has access to the journal (even read) may comment on it

    .list-group
      - journal.comments.each do |comment|
        .list-group-item
          %label.col-sm-3.text-right= comment.display_name
          .col-sm-offset-3= comment.human_body

-# reviews are only visible for admins and first mentors
- if @kid.mentor == current_user || current_user.is_a?(Admin)
  %h2#reviews
    Gesprächsdokumentationen
    - if can?(:create, @cancan_review)
      =link_to 'Neue Gesprächsdokumentation', new_kid_review_path(@kid), class: 'btn btn-default pull-right'
  - @kid.reviews.each do |review|
    .panel.panel-default[review]
      .panel-heading
        .btn-group.pull-right
          - if can?(:edit, review)
            = link_to 'Bearbeiten', edit_kid_review_path(@kid, review), class: 'btn btn-default'
        %h4= review.display_name
      .panel-body
        = show_for review do |review_show|
          = review_show.attribute :attendee
          = review_show.attribute :reason
          = review_show.attribute :kind
          = review_show.attribute :content
          = review_show.attribute :outcome
          = review_show.attribute :note
