= render :partial => 'subnav'

= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :sex
  = show.attribute :dob
  = show.attribute :grade
  = show.attribute :language
  = show.attribute :parent
  = show.attribute :address
  = show.attribute :city
  = show.attribute :phone
  = show.attribute :translator
  = show.attribute :note
  = show.attribute :school do
    = can_link_to(resource.school)

= show_for resource do |show|
  %h2#school Allgemeine Informationen
  = show.attribute :goal_1
  = show.attribute :goal_2
  = show.attribute :meeting_day
  = show.attribute :meeting_start_at
  = show.attribute :teacher do
    = can_link_to(resource.teacher)
  = show.attribute :secondary_teacher do
    = can_link_to(resource.secondary_teacher)
  = show.attribute :mentor do
    = can_link_to(resource.mentor)
  = show.attribute :secondary_mentor do
    = can_link_to(resource.secondary_mentor)
  = show.attribute :secondary_active
  = show.attribute :admin do
    = can_link_to(resource.admin)

- if current_user.is_a?(Admin)
  = show_for resource do |show|
    %h2#internal Projektinterne Informationen
    = show.attribute :term
    = show.attribute :exit
    = show.attribute :exit_reason
    = show.attribute :checked_at
    = show.attribute :coached_at
    = show.attribute :abnormality
    = show.attribute :abnormality_criticality
    = show.attribute :todo
    = show.attribute :inactive
    = render :partial => 'relation_logs/collection'

%h2#journals Lernjournale
- resource.journals.each do |journal|
  = show_for journal do |journal_show|
    %h3
      = journal.display_name
    = journal_show.attribute :mentor do
      = can_link_to(journal.mentor)
    = journal_show.attribute :held_at
    - if journal.cancelled?
      = journal_show.attribute :cancelled
    - else
      = journal_show.attribute :start_at
      = journal_show.attribute :end_at
    = journal_show.attribute :goal
    = journal_show.attribute :subject
    = journal_show.attribute :method
    = journal_show.attribute :outcome
    = journal_show.attribute :note
    -# everybody that has access to the journal (even read) may comment on it
    - journal.comments.each do |comment|
      .wrapper
        %label.col-sm-3.text-right= comment.display_name
        .col-sm-offset-3= comment.body.textilize
    .wrapper
      .content.journal_buttons
        - if can?(:edit, journal)
          = link_to "[bearbeiten]", edit_kid_journal_path(resource, journal)
        = link_to "[kommentieren]", new_kid_journal_comment_path(resource, journal)
        - if can?(:destroy, journal)
          = button_to "löschen", kid_journal_path(resource, journal), :confirm => "Sind Sie sicher? Der Eintrag und alle Kommentare werden unwiderruflich gelöscht.", :method => :delete

-# reviews are only visible for admins and first mentors
- if resource.mentor == current_user || current_user.is_a?(Admin)
  %h2#reviews Gesprächsdokumentationen
  - resource.reviews.each do |review|
    = show_for review do |review_show|
      %h3= review.display_name
      = review_show.attribute :attendee
      = review_show.attribute :reason
      = review_show.attribute :kind
      = review_show.attribute :content
      = review_show.attribute :outcome
      = review_show.attribute :note
      - if can?(:edit, review)
        .wrapper
          .content
            = link_to "[bearbeiten]", edit_kid_review_path(resource, review)
