- content_for :subnav do
  %li= link_to resource.display_name, :anchor => 'kid'
  %li= link_to Journal.model_name.human, :anchor => 'journals'
  - resource.journals_sorted.each do |journal|
    %li= link_to journal.display_name, :anchor => dom_id(journal)
  %li= link_to Review.model_name.human, :anchor => 'reviews'
  - resource.reviews_sorted.each do |review|
    %li= link_to review.display_name, :anchor => dom_id(review)

