- unless %w(new edit).include?(controller.action_name)
  - content_for :actions do
    - if can?(:create, Journal)
      %li= link_to "Neuer Journal Eintrag", new_kid_journal_path(:kid_id => resource)
    - if can?(:create, Review)
      %li= link_to "Neuer Review Eintrag", new_kid_review_path(:kid_id => resource)
    - if current_user.is_a?(Admin)
      %li= link_to "Stundenplan bearbeiten", schedules_path(:kid_id => resource)

- content_for :subnav do
  %li= link_to 'Allgemeine Information', :anchor => 'school'
  %li= link_to 'Lernjournale', :anchor => 'journals'
  %li
    %ul
      - resource.journals.each do |journal|
        %li= link_to journal.display_name, :anchor => dom_id(journal)
  %li= link_to 'Gesprächsdokumentationen', :anchor => 'reviews'
  %li
    %ul
      - resource.reviews.each do |review|
        %li= link_to review.display_name, :anchor => dom_id(review)

