- unless %w(new edit).include?(controller.action_name)
  - content_for :actions do
    - if can?(:create, Journal)
      %li= link_to "Neues Lernjournal", new_kid_journal_path(:kid_id => resource)
    - if can?(:create, Review)
      %li= link_to "Neues Gespräch", new_kid_review_path(:kid_id => resource)
    - if can?(:edit_schedules, resource)
      %li= link_to "Stundenplan bearbeiten", edit_schedules_kid_path(resource)

- content_for :subnav do
  %li= link_to 'Lernjournale', :anchor => 'journals'
  %li
    %ul
      - resource.journals.each do |journal|
        %li= link_to journal.display_name, :anchor => dom_id(journal)

  - if resource.mentor == current_user || current_user.is_a?(Admin)
    %li= link_to 'Gesprächsdokumentationen', :anchor => 'reviews'
    %li
      %ul
        - resource.reviews.each do |review|
          %li= link_to review.display_name, :anchor => dom_id(review)

