%ul.nav.nav-tabs(role="tablist")
  %li.active
    %a(href="#schedules_table_tab" role="tab" data-toggle="tab")
      Stundenplan
  %li
    %a(href="#mentor_selection_tab" role="tab" data-toggle="tab")
      Mentorauswahl

.tab-content
  #schedules_table_tab.tab-pane.active
    = render 'schedules/table', resource: @kid
  #mentor_selection_tab.tab-pane
    = boot_form_for @kid, :method => :get, :url => { :action => 'edit_schedules' }, :html => { :class => 'schedule' } do |form|
      %h3
        .btn-group.pull-right
          = form.submit 'Auswahl bestätigen', class: 'btn btn-default'
          = link_to 'Auswahl aufheben', { :action => 'edit_schedules' },  class: 'btn btn-default'
        Mentor Daten einblenden
      %table
        %tr
          %th
            Mentor/innen ohne Sch&uuml;ler
          %th
            Mentor/innen mit prim&auml;rem Sch&uuml;ler zugewiesen
          %th
            Mentor/innen mit sekund&auml;rem Sch&uuml;ler zugewiesen
          %th
            Mentor/innen mit beiden Sch&uuml;lern zugewiesen
          %th
            Ersatzmentor/innen
        %tr
          %td
            = select_tag "mentor_ids",
              options_from_collection_for_select(@mentor_groups[:none], 'id', 'display_name', @mentor_ids),
              :multiple => true
          %td
            = select_tag "mentor_ids",
              options_from_collection_for_select(@mentor_groups[:only_primary], 'id', 'display_name', @mentor_ids),
              :multiple => true
          %td
            = select_tag "mentor_ids",
              options_from_collection_for_select(@mentor_groups[:only_secondary], 'id', 'display_name', @mentor_ids),
              :multiple => true
          %td
            = select_tag "mentor_ids",
              options_from_collection_for_select(@mentor_groups[:both], 'id', 'display_name', @mentor_ids),
              :multiple => true
          %td
            = select_tag "mentor_ids",
              options_from_collection_for_select(@mentor_groups[:substitute], 'id', 'display_name', @mentor_ids),
              :multiple => true
