- content_for :contextual_links do
  = contextual_links do
    - if current_user.is_a?(Admin)
      = contextual_link_to :xlsx, url_for(params.permit!.merge(format: 'xlsx'))

- content_for :sidebar do
  = form_for :kid, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|

    - if current_user.is_a?(Admin)
      .form-group
        %label= Kid.human_attribute_name(:term)
        = f.select :term, term_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Kid.human_attribute_name(:exit)
        = f.select :exit, term_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Kid.human_attribute_name(:school)
        = f.select :school_id, school_collection_by_kind(:kid), { :include_blank => true }, class: 'form-control'
      - if @site.feature_coach?
        .form-group
          %label Coach
          = f.select :admin_id, admin_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label Übersetzer
        = f.select :translator, boolean_collection, { include_blank: true }, class: 'form-control'
      .form-group
        %label= Kid.human_attribute_name(:meeting_day)
        = f.select :meeting_day, wday_collection, { :include_blank => true }, class: 'form-control'


    - if current_user.is_a?(Admin) || current_user.is_a?(Principal)
      .form-group
        %label Klasse
        = f.select :grade, grade_collection, { :include_blank => true }, class: 'form-control'

    - if current_user.is_a?(Admin) or current_user.is_a?(Principal)
      .checkbox
        %label
          = f.check_box :inactive
          %p
            %b Inaktive

    .form-group
      %label Ordnen nach
      = select_tag 'order_by', order_by_collection_for_kids(params[:order_by]), class: 'form-control'
    .form-group
      = f.submit 'Suchen', class: 'btn btn-xs btn-success'

      - if current_user.is_a?(Admin) or current_user.is_a?(Principal)
        = link_to 'Filter aufheben', kids_path, class: 'btn btn-xs'

= boot_page_title do
  = @kids.count if current_user.is_a?(Admin) or current_user.is_a?(Principal)
  Sch&uuml;ler/innen

%p
  = page_description
%p &nbsp;

%table.table.table-striped.table-condensed.table-hover
  %tr
    %th Name
    - if current_user.is_a?(Admin) or current_user.is_a?(Principal)
      %th Eintritt
    - if current_user.is_a?(Admin)
      %th Letztes Kontrolldatum
      - if @site.feature_coach?
        %th Letztes Coaching
      %th Pendenzen
    %th Mentor/in
    - if @site.feature_coach?
      %th Coach
  - @kids.each do |kid|
    %tr
      %td= link_to kid.display_name, kid
      -if current_user.is_a?(Admin) or current_user.is_a?(Principal)
        %td
          = kid.created_at ? I18n.l(kid.created_at.to_date) : '-'
      -if current_user.is_a?(Admin)
        %td
          = kid.checked_at ? I18n.l(kid.checked_at.to_date) : '-'
        - if @site.feature_coach?
          %td
            = kid.coached_at ? I18n.l(kid.coached_at.to_date) : '-'
        %td
          -if current_user.is_a?(Admin) && kid.todo.present?
            %a.todotoggle.btn.btn-xs{data: { content: kid.human_todo}, href:  edit_kid_path(kid, :anchor => 'todo') }
              Pendenz
              %span.glyphicon.glyphicon-info-sign
      %td
        = can_link_to(kid.mentor) if kid.mentor.present?
      - if @site.feature_coach?
        %td
          = can_link_to(kid.admin) if kid.admin.present?


- if @kids.empty?
  Keine Kinder zugeordnet / erfasst.
