-if current_user.is_a?(Admin)
  %h2 Filterkriterium f&uuml;r Sch&uuml;ler/innen
  = form_for :kid, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
    .filterfield
      %label= Kid.human_attribute_name(:term)
      = f.select :term, term_collection, { :include_blank => true }
    .filterfield
      %label= Kid.human_attribute_name(:school)
      = f.select :school, school_collection_for_kids, { :include_blank => true }
    .filterfield
      %label Übersetzer
      = f.select :translator, translator_collection, { :include_blank => true }
    .filterfield
      %label=Kid.human_attribute_name(:meeting_day)
      = f.select :meeting_day, wday_collection, { :include_blank => true }
    .filterfield
      %label=Kid.human_attribute_name(:grade)
      = f.select :grade, grade_collection, { :include_blank => true }
    .filterfield
      %label Inaktiv
      = f.check_box :inactive
    .filterfield
      %label Ordnen nach
      = select_tag 'order_by', order_by_collection_for_kids(params[:order_by])
    .filterfield
      %label Aktion
      = f.submit 'Filter anwenden'
      = link_to 'Filter aufheben', collection_path

%h2
  = collection.count if current_user.is_a?(Admin)
  Sch&uuml;ler/innen

%ul
  - collection.each do |resource|
    %li
      = link_to resource.display_name, resource
      -if current_user.is_a?(Admin) && resource.todo.present?
        %a.todotoggle(href='#')= image_tag('task-due.png')
        .todoholder
          .todo
            = resource.human_todo
            %p.control= link_to 'edit', edit_kid_path(resource, :anchor => 'todo')


- if collection.empty?
  Zur Zeit sind Ihnen keine Kinder zugeordnet.
