- content_for :sidebar do
  - if current_user.is_a?(Admin)
    %li
      %h4 Filterkriterium f&uuml;r Sch&uuml;ler/innen
      = form_for :kid, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
        .form-group
          %label= Kid.human_attribute_name(:term)
          = f.select :term, term_collection, { :include_blank => true }, class: 'form-control'
        .form-group
          %label= Kid.human_attribute_name(:exit)
          = f.select :exit, term_collection, { :include_blank => true }, class: 'form-control'
        .form-group
          %label= Kid.human_attribute_name(:school)
          = f.select :school_id, school_collection, { :include_blank => true }, class: 'form-control'
        .form-group
          %label Coach
          = f.select :admin_id, admin_collection, { :include_blank => true }, class: 'form-control'
        .checkbox
          %label
            = f.check_box :translator
            %p
              %b Übersetzer
        .form-group
          %label= Kid.human_attribute_name(:meeting_day)
          = f.select :meeting_day, wday_collection, { :include_blank => true }, class: 'form-control'
        .form-group
          %label Klasse
          = f.select :grade, grade_collection, { :include_blank => true }, class: 'form-control'
        .checkbox
          %label
            = f.check_box :inactive
            %p
              %b Inaktive
        .form-group
          %label Ordnen nach
          = select_tag 'order_by', order_by_collection_for_kids(params[:order_by]), class: 'form-control'
        .form-group
          = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
          = link_to 'Filter aufheben', collection_path, class: 'btn btn-xs btn-danger'

= contextual_links
= boot_page_title do
  = collection.count if current_user.is_a?(Admin)
  Sch&uuml;ler/innen

%table.table.table-striped.table-condensed.table-hover
  - collection.each do |resource|
    %tr
      %td= link_to resource.display_name, resource
      -if current_user.is_a?(Admin)
        %td
          K:
          = resource.checked_at ? I18n.l(resource.checked_at.to_date) : '-'
        %td
          C:
          = resource.coached_at ? I18n.l(resource.coached_at.to_date) : '-'
        %td
          E:
          = resource.created_at ? I18n.l(resource.created_at.to_date) : '-'
        %td
          -if resource.todo.present?
            %a.todotoggle{data: { content: todo_content(resource) }}
              %span.glyphicon.glyphicon-info-sign

- if collection.empty?
  Zur Zeit sind Ihnen keine Kinder zugeordnet.
