= boot_page_title @kid.display_name

- content_for :contextual_links do
  = contextual_links do
    - if can? :create, @cancan_journal
      = contextual_link_to :new_journal, new_kid_journal_path(@kid)
    - if can? :create, @cancan_review
      = contextual_link_to :new_review, new_kid_review_path(@kid)
    - if can? :create, @cancan_first_year_assessment
      = contextual_link_to :new_first_year_assessment, new_kid_first_year_assessment_path(@kid)
    - if can? :create, @cancan_termination_assessment
      = contextual_link_to :new_termination_assessment, new_kid_termination_assessment_path(@kid)
    - if @site.kids_schedule_hourly
      = contextual_link_to :edit_schedules
      = contextual_link_to :show_kid_mentors_schedules

= render "show"
