= link_to 'Übersicht', collection_path
= link_to 'Bearbeiten', edit_resource_path

= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename

%h2= Journal.model_name.human

- resource.journals.each do |journal|

  %h3= journal.display_name

  = show_for journal do |journal_show|
    = journal_show.attribute :subject
    = journal_show.attribute :goal
    = journal_show.attribute :subject
    = journal_show.attribute :method
    = journal_show.attribute :outcome

%h2= Review.model_name.human

- resource.reviews.each do |review|

  %h3= review.display_name

  = show_for review do |review_show|
    = review_show.attribute :reason
    = review_show.attribute :kind
    = review_show.attribute :content
    = review_show.attribute :outcome
    = review_show.attribute :note
