= boot_page_title @kid.display_name

= simple_form_for @kid, html:{id:'kid_form'} do |form|
  -if @substitution
    .row
      .col-sm-12
        %p.bg-info.text-center
          Ersatzmentor*in für Abwesenheit vom
          =human_date(@substitution.start_at)
          bis
          =human_date(@substitution.end_at)
          von
          %strong=@substitution.mentor.display_name
          finden.
          = hidden_field_tag(:substitution_id, @substitution.id)

  .row
    .col-sm-6
      = form.association :mentor, :collection => Mentor.active
    .col-sm-6
      = form.association :secondary_mentor, :collection => Mentor.active
  .row
    .col-sm-6
      = form.input :meeting_day, :collection => wday_collection
    .col-sm-6
      - kid_time_options = meeting_time_collection
      .form-group
        %label.col-sm-3.control-label= Kid.human_attribute_name(:meeting_start_at)
        .col-sm-9
          = form.select :meeting_start_at, options_for_select(kid_time_options, @kid.human_meeting_start_at), { include_blank: true }, { class: 'form-control' }
  .hide
    = form.submit

= react_component('KidMentorSchedules', @kid_mentor_schedules_data)


