= render :partial => 'subnav'

= show_for resource do |show|
  %h2#kid= resource.display_name
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :phone
  = show.attribute :parent
  = show.attribute :address
  = show.attribute :sex
  = show.attribute :entered_at

= show_for resource do |show|
  %h2#school Allgemeine Informationen
  = show.attribute :goal
  = show.attribute :grade
  = show.attribute :available
  = show.attribute :meeting_day
  = show.attribute :meeting_start_at
  = show.attribute :teacher do 
    = can_link_to(resource.teacher)
  = show.attribute :secondary_teacher do 
    = can_link_to(resource.secondary_teacher)
  = show.attribute :mentor do 
    = can_link_to(resource.mentor)
  = show.attribute :secondary_mentor do 
    = can_link_to(resource.secondary_mentor)
  = show.attribute :secondary_active

%h2#journals Lernjournale
- resource.journals.each do |journal|
  = show_for journal do |journal_show|
    %h3
      = journal.display_name
    = journal_show.attribute :mentor do 
      = can_link_to(journal.mentor)
    = journal_show.attribute :held_at
    - if journal.cancelled?
      = journal_show.attribute :cancelled
    - else
      = journal_show.attribute :start_at
      = journal_show.attribute :end_at
    = journal_show.attribute :goal
    = journal_show.attribute :subject
    = journal_show.attribute :method
    = journal_show.attribute :outcome
    = journal_show.attribute :note
    - if can?(:edit, journal)
      .wrapper
        .content
          = link_to "[bearbeiten]", edit_kid_journal_path(resource, journal)

-# reviews are only visible for admins and first mentors
- if resource.mentor == current_user || current_user.is_a?(Admin)
  %h2#reviews Gesprächsdokumentationen
  - resource.reviews.each do |review|
    = show_for review do |review_show|
      %h3= review.display_name
      = review_show.attribute :attendee
      = review_show.attribute :reason
      = review_show.attribute :kind
      = review_show.attribute :content
      = review_show.attribute :outcome
      = review_show.attribute :note
      - if can?(:edit, review)
        .wrapper
          .content
            = link_to "[bearbeiten]", edit_kid_review_path(resource, review)
