= boot_page_title @kid.display_name

= simple_form_for @kid, html:{id:'kid_form'} do |form|
  -if @substitution
    .row
      .col-sm-12
        %p.bg-info.text-center
          Ersatzmentor für Abwesenheit vom
          =human_date(@substitution.start_at)
          bis
          =human_date(@substitution.end_at)
          von
          %strong=@substitution.mentor.display_name
          finden.
          = hidden_field_tag(:substitution_id, @substitution.id)

  .row
    .col-sm-6
      = form.association :mentor, :collection => Mentor.active
    .col-sm-6
      = form.association :secondary_mentor, :collection => Mentor.active
  .row
    .col-sm-6
      = form.input :meeting_day, :collection => wday_collection
    .col-sm-6
      = form.input :meeting_start_at, :as => :string, input_html: { value: @kid.human_meeting_start_at, autocomplete: 'off' }
  .hide
    = form.submit

= react_component('KidMentorSchedules', @kid_mentor_schedules_data)


