= react_component('KidMentorSchedules', @kid_mentor_schedules_data)


= form_for @kid,  method: :patch, html: { id: 'kid_form', class: 'hide'} do |form|
  = form.text_field :mentor_id
  = form.text_field :meeting_day
  = form.text_field :meeting_start_at
  = form.submit
