= show_for @admin do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute(:email) { mail_to @admin.email }
  = show.attribute :phone

  -if current_user.is_a?(Admin) && @site.feature_coach?
    = show.attribute :todo
    = show.association :coachings do |k|
      %li
        = "#{Kid.model_name.human}:"
        = can_link_to k
        = "(#{k.city})" if k.city.present?
        - if k.mentor.present?
          = "- #{Mentor.model_name.human}:"
          = can_link_to k.mentor if k.mentor.present?
    = show.attribute :inactive

    = render 'relation_logs/collection', resource: @admin
