%h2= resource.display_name

= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute(:email) { mail_to resource.email }
  -if current_user.is_a?(Admin)
    = form.input :inactive
