- content_for :sidebar do
  -if current_user.is_a?(Admin)
    = form_for :reminder, url: { action: 'index' }, html: { method: :get, class: 'filter' } do |f|
      .form-group
        %label= Kid.human_attribute_name(:school)
        = f.select :filter_by_school_id, school_collection, { include_blank: true }, class: 'form-control'
      .form-group
        = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
        = link_to 'Filter aufheben', reminders_path, class: 'btn btn-xs'

= boot_page_title do
  %h2 Erinnerungen

- if @reminders.present?
  %table.table.table-striped.table-condensed.table-hover.no-sidebar-actions
    %thead
      %tr
        %th Meeting vom
        %th Schüler/in
        %th Mentor
        %th Zweiter Mentor
        %th Empfänger
        %th Erstellt am
        %th Letzer Lernjournal Eintrag am
        %th Gesendet am
        %th Quittieren
    - @reminders.each do |reminder|
      %tr
        %td= human_date(reminder.held_at)
        %td= link_to reminder.kid.display_name, reminder.kid
        %td= link_to reminder.mentor.display_name, reminder.mentor
        %td
          -if reminder.secondary_mentor
            = link_to reminder.secondary_mentor.display_name, reminder.secondary_mentor
        %td= reminder.recipient
        %td= human_date(reminder.created_at.to_date)
        %td
          -if reminder.kid.last_journal_entry
            = link_to kid_path(reminder.kid, :anchor => 'journals') do
              = human_date(reminder.kid.last_journal_entry.held_at)
        %td
          - if reminder.sent_at
            = human_date(reminder.sent_at.to_date)
          - else
            = button_to "Zustellen", { :action => "update", :id => reminder.id }, { :method => :put, :class => 'btn btn-default btn-xs' }
        %td
          = button_to "Quittieren", { :action => "destroy", :id => reminder.id }, { :method => :delete, :class => 'btn btn-default btn-xs' }
- else
  %p Kein Eintrag vorhanden
