= boot_page_title do
  %h2 Erinnerungen

- if collection.present?
  %table.table.table-striped.table-condensed.table-hover
    %thead
      %tr
        %th Meeting vom
        %th Schüler/in
        %th Mentor
        %th Zweiter Mentor
        %th Empfänger
        %th Erstellt am
        %th Letzer Lernjournal Eintrag am
        %th Gesendet am
        %th Quittieren
    - collection.each do |resource|
      %tr
        %td= I18n.l(resource.held_at)
        %td= link_to resource.kid.display_name, resource.kid
        %td= link_to resource.mentor.display_name, resource.mentor
        %td
          -if resource.secondary_mentor
            = link_to resource.secondary_mentor.display_name, resource.secondary_mentor
        %td= resource.recipient
        %td= I18n.l(resource.created_at.to_date) if resource.created_at
        %td
          -if resource.kid.last_journal_entry
            = link_to kid_path(resource.kid, :anchor => 'journals') do
              = I18n.l(resource.kid.last_journal_entry.held_at)
        %td
          - if resource.sent_at
            = I18n.l(resource.sent_at.to_date)
          - else
            = button_to "Zustellen", { :action => "update", :id => resource.id }, :method => :put
        %td
          = button_to "Quittieren", { :action => "destroy", :id => resource.id }, :method => :delete
- else
  %p Kein Eintrag vorhanden
