= simple_form_for @substitution do |form|
  /= form.input :closed, disabled: false
  -unless @substitution.new_record?
    = form.association :mentor
  = form.association :kid, collection: Kid.with_mentor
  = form.association :secondary_mentor
  = form.input :start_at
  = form.input :end_at
  = form.input :comments

  .col-sm-offset-3.col-sm-9
    = form.button :submit
