<p>
  Liebe pädagogische Coaches
</p>

<p>
  Es wurde ein neues Lernjournal auf der Future Kids-Onlineplattform angelegt:
</p>

<table>
  <tr>
    <th>
      Schüler/in:
    </th>
    <td>
      <%= @journal.kid.display_name %>
    </td>
  </tr>
  <tr>
    <th>
      Journal:
    </th>
    <td>
      <%= @journal.display_name %>
    </td>
  </tr>
  <tr>
    <th>
      Link:
    </th>
    <td>
      <%= kid_url(@journal.kid) + "#journal_#{@journal.id}" %>
    </td>
  </tr>
  <tr>
    <th>
      Datum:
    </th>
    <td>
      <%= I18n.l(@journal.held_at) if @journal.held_at %>
    </td>
  </tr>

  <%- unless @journal.cancelled? %>
    <tr>
      <th>
        Von:
      </th>
      <td>
        <%= @journal.human_start_at %>
      </td>
    </tr>
    <tr>
      <th>
        Bis:
      </th>
      <td>
        <%= @journal.human_end_at %>
      </td>
    </tr>

    <tr>
      <th>
        Förderbereich:
      </th>
      <td>
        <%= simple_format(@journal.goal) %>
      </td>
    </tr>

    <tr>
      <th>
        Fach / Thema:
      </th>
      <td>
        <%= simple_format(@journal.subject) %>
      </td>
    </tr>

    <tr>
      <th>
        Beobachtungen und Vorgehensweise:
      </th>
      <td>
        <%= simple_format(@journal.method) %>
      </td>
    </tr>

    <tr>
      <th>
        Erfolge / Schwierigkeiten und Interpretation:
      </th>
      <td>
        <%= simple_format(@journal.outcome) %>
      </td>
    </tr>

    <tr>
      <th>
        Bemerkungen:
      </th>
      <td>
        <%= simple_format(@journal.note) %>
      </td>
    </tr>
  <%- end %>
</table>


<%- if @journal.cancelled? %>
  <p>
    <b>Treffen ausgefallen</b>
  </p>
<%- end %>
