= simple_form_for @principal do |form|
  = form.input :name
  = form.input :prename
  = form.input :email
  = form.input :password
  = form.input :password_confirmation
  = form.input :phone
  - if current_user.is_a?(Admin)
    = form.association :school, :as => :select, :collection => school_collection
    = form.input :inactive

  .col-sm-offset-3.col-sm-9
    = form.button :submit
