= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute(:email) { mail_to resource.email }
  = show.attribute :school do
    = can_link_to(resource.school)
  = show.attribute :phone
  -if current_user.is_a?(Admin)
    = show.attribute :inactive
