%ul
  - collection.each do |resource|
    %li
      = link_to resource.display_name, resource
      - if current_user.is_a?(Admin) && resource.email.present?
        = mail_to resource.email, "<#{resource.email}>"
      -if current_user.is_a?(Admin) && resource.todo.present?
        %a.todotoggle(href='#')= image_tag('task-due.png')
        .todoholder
          .todo
            = resource.human_todo
            %p.control= link_to 'edit', edit_resource_path(resource, :anchor => 'todo')
