%h2="Stundenplan von #{resource.display_name}"

- clazz = resource.class.to_s.downcase # kid or mentor

= simple_form_for resource, :url => { :action => 'update_schedules' }, :html => { :class => 'schedule' } do |form|
  %table.table.table-striped.table-condensed.table-hover
    %tr
      %th.time &nbsp;
      - (1..@week.length).each do |day|
        %th= I18n.t('date.day_names')[day]
    - @week.transpose.each do |row|
      %tr{class: schedule_class(row.first)}
        %th.time
          = "#{row.first.hour}:#{row.first.human_minute}"
          = "*" if row.first.is_last_meeting?
        - row.each do |schedule|
          - active = @schedules.include?(schedule)
          %td
            %input{:type => :checkbox, :checked => active}
            - param_name = "#{clazz}[schedules_attributes][]"
            %input{:type => :hidden, :value => schedule.day,
              :name => "#{param_name}[day]"}
            %input{:type => :hidden, :value => schedule.hour,
              :name => "#{param_name}[hour]"}
            %input{:type => :hidden, :value => schedule.minute,
              :name => "#{param_name}[minute]"}
            - schedule_tags(schedule).each do |tag|
              %p= tag


  %p(style='margin-top: 15px')
    * Letztmöglicher Beginn Mentoring:
    = "#{Schedule::LAST_MEETING_HOUR}:#{Schedule::LAST_MEETING_MIN}"

  = form.submit 'Stundenplandaten speichern', class: 'btn btn-default'
