- content_for :actions do
  %li= link_to "Zurück", @person

%h2= @person.display_name

%input{ :type => :hidden, :id => 'person_id', :value => @person_id }
%input{ :type => :hidden, :id => 'person_type', :value => @person_type }
%table.schedule
  %tr
    %th.time &nbsp;
    - (1..@week.length).each do |day|
      %th= I18n.t('date.day_names')[day]
  - @week.transpose.each do |row|
    %tr
      %th.time= "#{row.first.hour}:#{row.first.human_minute}"
      - row.each do |schedule|
        %td{:class => schedule_class(schedule)}
          %input{ :type => :checkbox,
            :id => schedule.id,
            :checked => schedule.id.present?,
            'data-day' => schedule.day,
            'data-hour' => schedule.hour,
            'data-minute' => schedule.minute }
          - schedule.mentor_tags.each do |tag|
            %p=tag 


- if @mentor_groups
  = form_tag(schedules_url, :method => :get, :class => 'schedule') do
    %h3 Mentor Daten einblenden
    %fieldset
      = submit_tag 'Anzeige anpassen'
      = link_to 'Auswahl aufheben', schedules_path(:kid_id => @person_id)
    %fieldset(style='height: 80%')
      %div.mentor_select
        %label Mentoren ohne Sch&uuml;ler
        = select_tag "mentor_ids",
          options_from_collection_for_select(@mentor_groups[:none], 'id', 'display_name', @mentor_ids),
          :multiple => true
      %div.mentor_select
        %label Mentoren mit prim&auml;rem Sch&uuml;ler zugewiesen
        = select_tag "mentor_ids",
          options_from_collection_for_select(@mentor_groups[:only_primary], 'id', 'display_name', @mentor_ids),
          :multiple => true
      %div.mentor_select
        %label Mentoren mit sekund&auml;rem Sch&uuml;ler zugewiesen
        = select_tag "mentor_ids",
          options_from_collection_for_select(@mentor_groups[:only_secondary], 'id', 'display_name', @mentor_ids),
          :multiple => true
      %div.mentor_select
        %label Mentoren mit beiden Sch&uuml;lern zugewiesen
        = select_tag "mentor_ids",
          options_from_collection_for_select(@mentor_groups[:both], 'id', 'display_name', @mentor_ids),
          :multiple => true
      = hidden_field_tag "kid_id", @person_id

