= simple_form_for @document do |form|
  -# allow user to select category or enter it via freetext
  - (0..6).each do |i|
    .form-group.string.optional.document_category
      %label.string.optional.col-sm-3.control-label(for="document_category#{i}")
        = Document.human_attribute_name("category#{i}")
        %a(class='freetext glyphicon glyphicon-edit' href="#")
      .col-sm-9
        = form.select "category#{i}", Document.categories(i), {}, class: 'select optional form-control', style: 'display: none;'
        = form.text_field "category#{i}", class: 'string optional form-control'
  = form.input :title
  = form.input :attachment
  = form.input :admin_only, as: :boolean, label: Document.human_attribute_name(:admin_only)

  .col-sm-offset-3.col-sm-9
    = form.button :submit
