= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :email
  = show.attribute :school
  = show.attribute :address
  = show.attribute :phone
  = show.association :kids do |k|
    %li= can_link_to(k)
  = show.association :secondary_kids do |k|
    %li= can_link_to(k)
