= contextual_links
= boot_page_title

#documents
  - @category_tree.each do |category, subcategories|
    %h3= "#{category.present? ? category : 'Ohne Kategorie'}"
    %ol
      - Document.in_category(category).each do |d|
        = render :partial => 'link', :object => d
      - subcategories.each do |subcategory|
        %li.subcategory
          %h4= subcategory
          %ol
            - Document.in_subcategory(category, subcategory).each do |d|
              = render :partial => 'link', :object => d
