= simple_form_for @mentor do |form|
  = form.input :name
  = form.input :prename
  = form.input :email
  = form.input :password
  = form.input :password_confirmation
  - if can? :update, @mentor, :state
    = form.input :state, :collection => User.states.transform_keys {|k| User.human_state(k) }
  = form.input :sex, :collection => sex_collection
  = form.input :address
  = form.input :city
  = form.input :photo
  = form.input :dob
  = form.input :phone
  = form.association :school, collection: @schools, include_blank: @schools_include_blank
  = form.input :field_of_study
  = form.input :education
  = form.input :transport, collection: transport_collection

  -if current_user.is_a?(Admin)
    %h2#internal Projektinterne Informationen
    = form.input :personnel_number
    = form.input :ects, collection: ects_collection
    = form.input :term, collection: term_collection
    = form.input :absence
    = form.input :note
    %a(name='todo')
    = form.input :todo
    = form.input :substitute
    = form.input :exit_kind, collection: exit_kind_collection
    = form.input :exit_at
    = form.input :inactive

  .col-sm-offset-3.col-sm-9
    = form.button :submit
