= boot_form_for resource, :html => { :id => 'content_form' } do |form|
  = form.input :name
  = form.input :prename
  = form.input :email, :input_html => { :autocomplete => 'off' }
  = form.input :password, :input_html => { :autocomplete => 'off' }
  = form.input :password_confirmation, :input_html => { :autocomplete => 'off' }
  = form.input :address
  = form.input :city
  = form.input :photo
  = date_picker(form, :dob)
  = form.input :phone
  = form.input :college
  = form.input :field_of_study
  = form.input :education
  = form.input :transport, :as => :select, :collection => transport_collection

  -if current_user.is_a?(Admin)
    = form.input :personnel_number
    = form.input :ects, :as => :boolean
    = form.input :term, :as => :select, :collection => term_collection
    = form.input :absence
    = form.input :note
    %a(name='todo')
    = form.input :todo
    = form.input :substitute
    = form.input :inactive

  = form.buttons
