= semantic_form_for resource, :html => { :id => 'content_form' } do |form|
  = form.semantic_errors
  = form.inputs do
    = form.input :name
    = form.input :prename
    = form.input :email, :input_html => { :autocomplete => 'off' }
    = form.input :password, :input_html => { :autocomplete => 'off' }
    = form.input :password_confirmation, :input_html => { :autocomplete => 'off' }
    = form.input :address
    = form.input :street_no
    = form.input :zip
    = form.input :city
    = date_picker(form, :dob)
    = form.input :phone
    = form.input :personnel_number
    = form.input :college
    = form.input :field_of_study
    = form.input :education
    = form.input :etcs, :as => :boolean
    = form.input :absence
    = form.input :term, :as => :select, :collection => term_collection
    = form.input :transport, :as => :select, :collection => transport_collection
    -if current_user.is_a?(Admin)
      %a(name='todo')
      = form.input :todo
      = form.input :substitute
      = form.input :inactive

  = form.buttons
