= semantic_form_for resource do |form|
  = form.semantic_errors
  = form.inputs do
    = form.input :email
    = form.input :password
    = form.input :password_confirmation
    = form.input :name
    = form.input :address
    = form.input :phone
    = form.input :personnel_number
    = form.input :field_of_study
    = form.input :education
    = form.input :etcs, :as => :boolean
    = form.input :entry_date, :as => :date
  = form.buttons 
