.row
  .col-md-8
    = show_for @mentor do |show|
      = show.attribute :name
      = show.attribute :prename
      = show.attribute(:email) { mail_to @mentor.email }
      = show.attribute :sex
      - if is_viewing_own_data(@mentor)
        = show.attribute :address
        = show.attribute :city
        = show.attribute :dob
      = show.attribute :phone
      = show.attribute :college
      = show.attribute :field_of_study
      = show.attribute :education
      = show.attribute :transport
      = show.association :schools do |k|
        %li
          = can_link_to k
      = show.association :kids do |k|
        %li
          = can_link_to k
          = "am #{k.human_meeting_day}" if k.meeting_day.present?
          = "in #{k.city}" if k.city.present?
      = show.association :secondary_kids do |k|
        %li

          = can_link_to k
          = "am #{k.human_meeting_day}" if k.meeting_day.present?
          = "in #{k.city}" if k.city.present?


    -if current_user.is_a?(Admin)
      = show_for @mentor do |show|
        %h2#internal Projektinterne Informationen
        = show.attribute :personnel_number
        = show.attribute :ects
        = show.attribute :term
        = show.attribute :absence
        = show.attribute :note
        = show.attribute :todo
        = show.attribute :substitute
        = show.attribute :exit_kind
        - if 'later' == @mentor.exit_kind
          = show.attribute :exit_at
        = show.attribute :schedules_seen_at
        = show.attribute :schedules_updated_at
        = show.attribute :inactive


  .col-md-4
    - if @mentor.photo.present?
      .portrait
        %img{:src => rails_representation_url(@mentor.photo_medium)}
  .col-md-12.hidden-print
    = render 'relation_logs/collection', resource: @mentor

-# times are only visible to the mentor himself or an admin
- if is_viewing_own_data(@mentor)
  #mentor_journal_date.pull-right
    = select_month(@month, {}, :class => 'select_mentor_journal_date')
    = select_year(@year, {}, :class => 'select_mentor_journal_date')
  #a(name='mentor_journal_date')
  %h2
    Zeiterfassung für den Monat
  %table.table.table-striped.table-condensed.table-hover
    - @journals.each do |journal|
      %tr
        %td= human_date(journal.held_at)
        %td
          - if journal.kid
            = journal.kid.display_name
          - else
            Pauschalzuschlag
        %td
          - if journal.cancelled?
            ausgefallen
          - else
            = "#{journal.duration} Minuten"
    %tfoot
      %tr
        %td Total
        %td
        %td
          = (@journals.sum(&:duration) / 60.0).round(2)
          Stunden

  .hidden-print
    %h2
      Zeiterfassung seit Einstieg
    %table.table.table-striped.table-hover
      - duration = (@mentor.total_duration / 60.0).round(2)
      - coaching = @mentor.month_count

      %tr
        %td Geleistet insgesamt
        %td
          = duration
          Stunden
      %tr
        %td
          Pauschalzuschlag für
          = coaching
          Monate Einsatz
        %td
          = coaching
          Stunden
      %tr
        %td Total
        %td
          = duration + coaching
          Stunden

  .visible-print
    %p.signature Unterschrift Mentor/in
    %p.signature Unterschrift Vorgesetze/r
