.cols
  .col2
    = show_for resource do |show|
      = show.attribute :name
      = show.attribute :prename
      = show.attribute(:email) { mail_to resource.email }
      - if is_viewing_own_data
        = show.attribute :address
        = show.attribute :city
        = show.attribute :dob
      = show.attribute :phone
      = show.attribute :college
      = show.attribute :field_of_study
      = show.attribute :education
      = show.attribute :transport
      = show.association :primary_kids_school do
        = can_link_to(resource.primary_kids_school)
      = show.attribute :primary_kids_meeting_day
      = show.association :kids do |k|
        %li
          = can_link_to k
          = "(#{k.city})" if k.city.present?
      = show.association :secondary_kids do |k|
        %li
          = can_link_to k
          = "(#{k.city})" if k.city.present?
      = show.attribute :personnel_number
      = show.attribute :ects
      = show.attribute :term
      -if current_user.is_a?(Admin)
        = show.attribute :absence
        = show.attribute :note
        = show.attribute :todo
        = show.attribute :substitute
        = show.attribute :inactive

      .screenonly
        = render :partial => 'relation_logs/collection'

  .col2.screenonly
    - if resource.photo.present?
      %img{:src => resource.photo.url(:medium)}

-# times are only visible to the mentor himself or an admin
- if is_viewing_own_data
  %h2
    Zeiterfassung für den Monat
    = select_month(@month, {}, :class => 'select_mentor_journal_date')
    = select_year(@year, {}, :class => 'select_mentor_journal_date')
  %table.table
    - @journals.each do |journal|
      %tr
        %td= I18n.l(journal.held_at)
        %td
          - if journal.kid
            = journal.kid.display_name
          - else
            Coaching Pauschale
        %td
          - if journal.cancelled?
            ausgefallen
          - else
            = "#{journal.duration} Minuten"
    %tfoot
      %tr
        %td Total
        %td
        %td
          = (@journals.sum(&:duration) / 60.0).round(2)
          Stunden

  .screenonly
    %h2
      Zeiterfassung über die Projektdauer
    %table
      - duration = (@mentor.total_duration / 60)
      - coaching = @mentor.month_count

      %tr
        %td Geleistet insgesamt
        %td
          = duration
          Stunden
      %tr
        %td
          Coachingpauschale für
          = coaching
          Monate Einsatz
        %td
          = coaching
          Stunden
      %tr
        %td Total
        %td
          = duration + coaching
          Stunden

  .printonly
    %p.signature Unterschrift Mentor/in
    %p.signature Unterschrift Vorgesetze/r
