- content_for :contextual_links do
  = contextual_links do
    - if current_user.is_a?(Admin)
      = contextual_link_to :xlsx, mentors_path(format: 'xlsx')

- content_for :sidebar do
  - if current_user.is_a?(Admin)
    = form_for :mentor, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
      .form-group
        %label Startzeit
        = f.select :term, term_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Mentor.human_attribute_name(:primary_kids_school)
        = f.select :primary_kids_school_id, school_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Mentor.human_attribute_name(:primary_kids_meeting_day)
        = f.select :primary_kids_meeting_day, wday_collection, { :include_blank => true }, class: 'form-control'
      - if @site.feature_coach?
        .form-group
          %label Coach
          = f.select :primary_kids_admin_id, admin_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label ÖV
        = f.select :transport, transport_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label ECTS
        = f.select :ects, boolean_collection, { include_blank: true }, class: 'form-control'
      .checkbox
        %label
          = f.check_box :inactive
          %p
            %b Inaktive
      .form-group
        = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
        = link_to 'Filter aufheben', mentors_path, class: 'btn btn-xs'

= boot_page_title do
  = @mentors.count if current_user.is_a?(Admin)
  Mentor/innen

- if @mentors.present?
  %table.table.table-striped.table-condensed.table-hover
    %tbody
      - @mentors.each do |mentor|
        %tr
          %td= link_to mentor.display_name, mentor
          - if current_user.is_a?(Admin)
            %td
              - if mentor.email.present?
                = mail_to mentor.email, "<#{mentor.email}>"
            %td
              - if current_user.is_a?(Admin) && mentor.todo.present?
                %a.todotoggle.btn.btn-xs{data: { content: mentor.human_todo}, href:  edit_mentor_path(mentor, :anchor => 'todo') }
                  %span.glyphicon.glyphicon-info-sign
                  Pendenz
- else
  %p Kein Eintrag vorhanden
