- content_for :contextual_links do
  = contextual_links do
    - if current_user.is_a?(Admin)
      = contextual_link_to :xlsx, mentors_path(format: 'xlsx')

- content_for :sidebar do
  - if current_user.is_a?(Admin)
    = form_for :mentor, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
      .form-group
        %label Startzeit
        = f.select :term, term_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Mentor.human_attribute_name(:primary_kids_school)
        = f.select :primary_kids_school_id, School.all, { :include_blank => true }, class: 'form-control'
      .form-group
        %label= Mentor.human_attribute_name(:primary_kids_meeting_day)
        = f.select :primary_kids_meeting_day, wday_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label Coach
        = f.select :primary_kids_admin_id, Admin.active, { :include_blank => true }, class: 'form-control'
      .form-group
        %label ÖV
        = f.select :transport, transport_collection, { :include_blank => true }, class: 'form-control'
      .form-group
        %label ECTS
        = f.select :ects, boolean_collection, { include_blank: true }, class: 'form-control'
      .checkbox
        %label
          = f.check_box :inactive
          %p
            %b Inaktive
      .form-group
        = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
        = link_to 'Filter aufheben', mentors_path, class: 'btn btn-xs'

= boot_page_title do
  = @mentors.count if current_user.is_a?(Admin)
  Mentor/innen

= render 'users/list', collection: @mentors
