%h2= resource.display_name

- content_for :actions do
  - if current_user.is_a?(Admin)
    %li= link_to "Stundenplan bearbeiten", schedules_path(:mentor_id => resource)

= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :email
  - if is_viewing_own_data
    = show.attribute :address
  = show.attribute :phone
  = show.attribute :personnel_number
  = show.attribute :school
  = show.attribute :field_of_study
  = show.attribute :education
  = show.attribute :etcs
  = show.attribute :entry_date
  = show.attribute :available
  = show.attribute :absence
  = show.association :kids do |k|
    %li= can_link_to k
  = show.association :secondary_kids do |k|
    %li= can_link_to k

-# times are only visible to the mentor himself or an admin
- if is_viewing_own_data 
  %h2
    Zeiterfassung
    = select_month(@month, {}, :class => 'select_mentor_journal_date')
    = select_year(@year, {}, :class => 'select_mentor_journal_date')
  %table
    - @journals.each do |journal|
      %tr
        %td= I18n.l(journal.held_at)
        %td
          - if journal.kid
            = journal.kid.display_name
          - else
            Coaching Pauschale
        %td
          - if journal.cancelled?
            ausgefallen
          - else
            = "#{journal.duration} Minuten"
    %tfoot
      %tr
        %td Total
        %td
        %td
          = (@journals.sum(&:duration) / 60.0)
          Stunden

  .printonly
    %p.signature Unterschrift Mentor/in
    %p.signature Unterschrift Vorgesetze/r
