%h2= resource.display_name

- content_for :actions do
  - if can?(:edit_schedules, resource)
    %li= link_to "Stundenplan bearbeiten", edit_schedules_mentor_path(resource)

= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute(:email) { mail_to resource.email }
  - if is_viewing_own_data
    = show.attribute :address
    = show.attribute :street_no
    = show.attribute :zip
    = show.attribute :city
    = show.attribute :dob
  = show.attribute :phone
  = show.attribute :personnel_number
  = show.attribute :college
  = show.attribute :field_of_study
  = show.attribute :education
  = show.attribute :etcs
  = show.attribute :absence
  = show.attribute :term
  = show.attribute :transport
  = show.association :primary_kids_school
  = show.association :kids do |k|
    %li
      = can_link_to k
      = "(#{k.city})" if k.city.present?
  = show.association :secondary_kids do |k|
    %li
      = can_link_to k
      = "(#{k.city})" if k.city.present?
  -if current_user.is_a?(Admin)
    = show.attribute :todo
    = show.attribute :substitute
    = show.attribute :inactive

-# times are only visible to the mentor himself or an admin
- if is_viewing_own_data 
  %h2
    Zeiterfassung
    = select_month(@month, {}, :class => 'select_mentor_journal_date')
    = select_year(@year, {}, :class => 'select_mentor_journal_date')
  %table
    - @journals.each do |journal|
      %tr
        %td= I18n.l(journal.held_at)
        %td
          - if journal.kid
            = journal.kid.display_name
          - else
            Coaching Pauschale
        %td
          - if journal.cancelled?
            ausgefallen
          - else
            = "#{journal.duration} Minuten"
    %tfoot
      %tr
        %td Total
        %td
        %td
          = (@journals.sum(&:duration) / 60.0).round(2)
          Stunden

  .printonly
    %p.signature Unterschrift Mentor/in
    %p.signature Unterschrift Vorgesetze/r
