= show_for resource do |show|
  = show.attribute :name
  = show.attribute :prename
  = show.attribute :email
  = show.attribute :address
  = show.attribute :phone
  = show.attribute :personnel_number
  = show.attribute :school
  = show.attribute :field_of_study
  = show.attribute :education
  = show.attribute :etcs
  = show.attribute :entry_date
  = show.attribute :available
  = show.association :kids do |k|
    %li= link_to k.display_name, k
  = show.association :secondary_kids do |k|
    %li= link_to k.display_name, k

%h2
  Zeiterfassung
  = select_month(@month, {}, :class => 'select_mentor_journal_date')
  = select_year(@year, {}, :class => 'select_mentor_journal_date')
%table
  - @journals.each do |journal|
    %tr
      %td= I18n.l(journal.held_at)
      %td
        - if journal.kid
          = journal.kid.display_name
        - else
          Coaching Pauschale
      %td
        - if journal.cancelled?
          ausgefallen
        - else
          = "#{journal.duration} Minuten"
  %tfoot
    %tr
      %td Total
      %td
      %td
        = (@journals.sum(&:duration) / 60.0)
        Stunden

.printonly
  %p.signature Unterschrift Mentor/in
  %p.signature Unterschrift Vorgesetze/r
