= simple_form_for resource, :html => { :id => 'content_form' } do |form|
  = form.input :name
  = form.input :prename
  = form.input :email, :input_html => { :autocomplete => 'off' }
  = form.input :password, :input_html => { :autocomplete => 'off' }
  = form.input :password_confirmation, :input_html => { :autocomplete => 'off' }
  -if current_user.is_a?(Admin)
    = form.association :school, :as => :select, :collection => school_collection
  = form.input :phone
  -if current_user.is_a?(Admin)
    %a(name='todo')
    = form.input :todo
    = form.input :note
    = form.input :inactive

  = form.submit
