= simple_form_for @teacher do |form|
  = form.input :name
  = form.input :prename
  = form.input :email
  = form.input :password
  = form.input :password_confirmation
  -if current_user.is_a?(Admin) || current_user.is_a?(Principal)
    = form.association :school, collection: @schools, include_blank: false
  = form.input :phone
  = form.input :receive_journals
  -if current_user.is_a?(Admin)
    %a(name='todo')
    = form.input :todo
    = form.input :note
    = form.input :inactive

  .col-sm-offset-3.col-sm-9
    = form.button :submit
