-if current_user.is_a?(Admin)
  %h2 Filterkriterium f&uuml;r Lehrpersonen
  = form_for :teacher, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
    .filterfield
      %label Schule
      = f.select :school_id, school_collection, { :include_blank => true }
    .filterfield
      %label Inaktiv
      = f.check_box :inactive
    .filterfield
      %label Aktion
      = f.submit 'Filter anwenden'
      = link_to 'Filter aufheben', collection_path

%h2
  = collection.count if current_user.is_a?(Admin)
  Lehrpersonen

= render :partial => '/users/list'
