- content_for :sidebar do
  -if current_user.is_a?(Admin)
    %li
      %h4 Filterkriterium f&uuml;r Lehrpersonen
      = form_for :teacher, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
        %label= Kid.human_attribute_name(:school)
        .form-group
          = f.select :school_id, school_collection, { :include_blank => true }, class: 'form-control'
        .checkbox
          %label
            = f.check_box :inactive
            %p
              %b Inaktive
        .form-group
          = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
          = link_to 'Filter aufheben', collection_path, class: 'btn btn-xs btn-danger'

= contextual_links
= boot_page_title do
  = collection.count if current_user.is_a?(Admin)
  Lehrpersonen

= render '/users/list'
