%h2= Mentor.model_name.human + ' ' + @mentor_matching.mentor.display_name

.row
  .col-md-8
    - if @mentor_matching.message.present?
      = show_for @mentor_matching do |show|
        %strong= show.attribute :message
    = render "mentors/details", mentor: @mentor_matching.mentor

    %h2= Kid.model_name.human + ' ' + @mentor_matching.kid.display_name
    = show_for @mentor_matching.kid do |show|
      = show.attribute :name
      = show.attribute :prename
      = show.attribute :sex
      = show.attribute :dob
      = show.attribute :grade
