- content_for :contextual_links do
  != '&nbsp;'

- content_for :sidebar do
  = form_for :mentor_matching, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
    .form-group
      %label= Mentor.model_name.human
      = f.select :mentor_id, mentor_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label= Kid.model_name.human
      = f.select :kid_id, kid_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label=MentorMatching.human_attribute_name(:state)
      = f.select :state, mentor_matching_state_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
      = link_to 'Filter aufheben', mentor_matchings_path, class: 'btn btn-xs'

= boot_page_title do
  = MentorMatching.model_name.human

%p
  = page_description
%p &nbsp;

- if @mentor_matchings.present?
  %table.table.table-striped.table-condensed.table-hover
    %tr
      %th= Mentor.model_name.human
      %th= Kid.model_name.human
      %th= MentorMatching.human_attribute_name(:state)
      %th Aktion
    %tbody
      - @mentor_matchings.each do |mentor_matching|
        %tr
          %td= mentor_matching.mentor.display_name
          %td= link_to mentor_matching.kid.display_name, mentor_matching.kid
          %td= mentor_matching.human_state_name
          %td= link_to I18n.t(:show, scope: 'crud.action'), mentor_matching, class: 'btn btn-default btn-xs'
- else
  %p Kein Eintrag vorhanden
