- content_for :contextual_links do
  != '&nbsp;'


= boot_page_title do
  = @mentor_matchings.count if current_user.is_a?(Admin)
  Mentor matchings

- if @mentor_matchings.present?
  %table.table.table-striped.table-condensed.table-hover
    %tr
      %th= Mentor.human_attribute_name(:name)
      %th= MentorMatching.human_attribute_name(:state)
      %th= Kid.human_attribute_name(:name)
      %th Aktion
    %tbody
      - @mentor_matchings.each do |mentor_matching|
        %tr
          %td= link_to mentor_matching.mentor.display_name, mentor_matching.mentor
          %td= mentor_matching.human_state_name
          %td= link_to mentor_matching.kid.display_name, mentor_matching.kid
          %td= link_to I18n.t(:show, scope: 'crud.action'), mentor_matching
- else
  %p Kein Eintrag vorhanden
