= boot_page_title do
  = MentorMatching.model_name.human
  für
  = @mentor_matching.kid.display_name

- content_for :contextual_links do
  .list-group
    - if can?(:confirm, @mentor_matching)
      = contextual_link_to :confirm, confirm_mentor_matching_path(@mentor_matching), method: :put
    - if can?(:accept, @mentor_matching)
      = contextual_link_to :accept, accept_mentor_matching_path(@mentor_matching), method: :put
    - if can?(:decline, @mentor_matching)
      = contextual_link_to :decline, decline_mentor_matching_path(@mentor_matching), method: :put
    - if can?(:read, @mentor_matching)
      = contextual_link_to :index

= render "show"