= boot_form_for resource, :html => { :id => 'content_form' } do |form|
  = form.input :name
  = form.input :street
  = form.input :city
  = form.input :phone
  = form.input :homepage
  = form.input :social
  = form.input :district
  = form.input :term, :as => :select, :collection => term_collection
  = form.input :note

  = render :partial => 'associations'

  = form.buttons

