= simple_form_for @school do |form|
  = form.input :name
  = form.input :school_kind, :collection => School.kinds
  = form.input :street
  = form.input :city
  = form.input :phone
  = form.input :homepage
  = form.input :social
  = form.input :district
  = form.input :term, :collection => term_collection
  = form.input :note

  = render :partial => 'associations'

  .col-sm-offset-3.col-sm-9
    = form.button :submit
