= show_for resource do |show|
  = show.attribute :name
  = show.attribute :street
  = show.attribute :city
  = show.attribute :homepage do
    -if resource.homepage.present?
      %a{:href => resource.homepage}= resource.homepage
  = show.attribute :social
  = show.attribute :district
  = show.attribute :term
  = show.attribute :note

= render 'associations'
