= show_for @school do |show|
  = show.attribute :name
  = show.attribute :school_kind do
    -@school.school_kind && School.humanize_enum('school_kind', @school.school_kind)
  = show.attribute :street
  = show.attribute :city
  = show.attribute :homepage do
    -if @school.homepage.present?
      %a{:href => @school.homepage}= @school.homepage
  = show.attribute :social
  = show.attribute :district
  = show.attribute :term
  = show.attribute :note

= render 'associations'
