- content_for :contextual_links do
  != '&nbsp;'

- content_for :sidebar do
  = form_for :kid, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
    .form-group
      %label= t '.distance_from'
      = select_tag 'distance_from', distance_from_collection(params[:distance_from]), class: 'form-control'
    .form-group
      %label= Kid.human_attribute_name(:grade)
      = select_tag 'grade_group', grade_group_collection(params[:grade_group]), include_blank: true, class: 'form-control'

= boot_page_title do
  = t '.title'

%p
  = t '.description'
%p &nbsp;

%table.table.table-striped.table-condensed.table-hover
  %tr
    %th= Kid.human_attribute_name(:city)
    %th= Kid.human_attribute_name(:distance)
    %th= Kid.human_attribute_name(:grade)
    %th= Kid.human_attribute_name(:sex)
    - unless @site.kids_schedule_hourly
      %th= Kid.human_attribute_name(:available)
    %th Aktion

  - @kids.each do |kid|
    %tr
      %td= kid.city
      %td= human_distance(kid.distance)
      %td= kid.grade
      %td= kid.human_sex
      - unless @site.kids_schedule_hourly
        %td= kid.human_simplified_schedule
      %td!= available_kid_actions(kid)


- if @kids.empty?
  Zur Zeit sind aller Schüler/innen in Mentorings.
