= show_for journal do |journal_show|
  = journal_show.attribute :mentor do
    = can_link_to(journal.mentor)
  = journal_show.attribute :held_at
  = journal_show.attribute :meeting_type
  - if journal.cancelled?
    = journal_show.attribute :cancelled
  - else
    = journal_show.attribute :start_at
    = journal_show.attribute :end_at
  = journal_show.attribute :goal
  = journal_show.attribute :subject
  = journal_show.attribute :method
  = journal_show.attribute :outcome
  = journal_show.attribute :note
