= boot_form_for [resource.kid, resource], :html => { :id => 'content_form' } do |form|
  - if current_user.is_a?(Admin)
    = form.association :mentor, :collection => @mentors
  = date_picker(form, :held_at)
  = form.input :cancelled
  = form.input :start_at, :as => :string, :required => true
  = form.input :end_at, :as => :string, :required => true
  = form.input :goal
  = form.input :subject
  = form.input :method
  = form.input :outcome
  = form.input :note

  = form.buttons
