= semantic_form_for [resource.kid, resource], :html => { :id => 'content_form' } do |form|

  = form.semantic_errors
  = form.inputs do
    - if current_user.is_a?(Admin)
      = form.input :mentor
    = form.input :held_at, :as => :string
    = form.input :cancelled
    = form.input :start_at, :as => :string
    = form.input :end_at, :as => :string
    = form.input :goal
    = form.input :subject
    = form.input :method
    = form.input :outcome
    = form.input :note

  = form.buttons 
