= simple_form_for [@journal.kid, @journal] do |form|
  - if current_user.is_a?(Admin)
    = form.association :mentor, collection: @mentors
  = form.input :held_at, as: :date, html5: true
  = form.input :meeting_type, collection: meeting_type_collection
  = form.input :cancelled
  = form.input :important
  - journal_time_options = (0..24).map { |i| t = 780 + i * 15; "%02d:%02d" % [t / 60, t % 60] }
  .form-group
    %label.col-sm-3.control-label
      = Journal.human_attribute_name(:start_at)
      %abbr{title: 'required'} *
    .col-sm-9
      = form.select :start_at, options_for_select(journal_time_options, @journal.human_start_at), { include_blank: true }, { class: 'form-control', required: true }
  .form-group
    %label.col-sm-3.control-label
      = Journal.human_attribute_name(:end_at)
      %abbr{title: 'required'} *
    .col-sm-9
      = form.select :end_at, options_for_select(journal_time_options, @journal.human_end_at), { include_blank: true }, { class: 'form-control', required: true }
  = form.input :goal
  = form.input :subject
  = form.input :method
  = form.input :outcome
  = form.input :note

  .col-sm-offset-3.col-sm-9
    = form.button :submit
