- if current_user.is_a?(Admin) && !resource.relation_logs.empty?
  %h2#relation_logs Beziehungen
  %table.table.table-striped.table-condensed.table-hover
    %tr
      %th Datum
      %th= RelationLog.human_attribute_name(:user)
      %th
      %th= RelationLog.human_attribute_name(:role)
      %th= RelationLog.human_attribute_name(:kid)
    - resource.relation_logs.each do |relation_log|
      %tr
        %td
          = human_date(relation_log.start_at)
          = human_date(relation_log.end_at)
        %td
          - if relation_log.user.present?
            = link_to relation_log.user.display_name, relation_log.user
          - else
            Gelöschte/r Benutzer/in
        %td= relation_log.end_at ? 'entfernt' : 'zugeordnet'
        %td
          als
          = Kid.human_attribute_name(relation_log.role)
        %td
          - if relation_log.kid.present?
            = link_to relation_log.kid.display_name, relation_log.kid
          - else
            Gelöschte/r Schüler/in

