- content_for :contextual_links do
  = contextual_link_to :xlsx, url_for(params.permit!.merge(format: 'xlsx'))
  = contextual_link_to 'reset_all', destroy_all_kid_mentor_relations_path, method: :delete, data: { confirm: "Sind Sie sicher?" }

- content_for :sidebar do
  = form_for :kid_mentor_relation, :url => { :action => 'index' }, :html => { :method => :get, :class => 'filter' } do |f|
    .form-group
      %label
        = Kid.human_attribute_name(:exit_kind)
        = Kid.model_name.human
      = f.select :kid_exit_kind, exit_kind_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label
        = Mentor.human_attribute_name(:exit_kind)
        = Mentor.model_name.human
      = f.select :mentor_exit_kind, exit_kind_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label Einstieg
      = f.select :simple_term, %w(Frühling Herbst), { :include_blank => true }, class: 'form-control'
    - if @site.feature_coach?
      .form-group
        %label Coach
        = f.select :admin_id, admin_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label= Kid.human_attribute_name(:school)
      = f.select :school_id, school_collection, { :include_blank => true }, class: 'form-control'
    .form-group
      %label Ordnen nach
      = select_tag 'order_by', order_by_collection_for_kid_mentor_relations(params[:order_by]), class: 'form-control'
    .form-group
      = f.submit 'Filter anwenden', class: 'btn btn-xs btn-success'
      = link_to 'Filter aufheben', kid_mentor_relations_path, class: 'btn btn-xs'

= boot_page_title do
  =t('title.kid_mentor_relation_index', count: @kid_mentor_relations.count)
-if @kid_mentor_relations.present?
  %table.table.table-striped.table-condensed.table-hover
    %tr
      %th
        = Kid.human_attribute_name(:name)
        = Kid.model_name.human
      %th
        %span.glyphicon.glyphicon-info-sign
      %th Einstieg
      %th=Kid.human_attribute_name(:exit_kind)
      %th=Kid.human_attribute_name(:exit_at)
      %th
        = Mentor.human_attribute_name(:name)
        = Mentor.model_name.human
      %th
        %span.glyphicon.glyphicon-info-sign
      %th= Mentor.human_attribute_name(:exit_kind)
      %th= Mentor.human_attribute_name(:exit_at)
      %th= School.model_name.human
      %th Aktion
    - @kid_mentor_relations.each do |relation|
      %tr
        %td
          = link_to relation.kid.display_name, relation.kid
        %td
          -if relation.kid.todo.present?
            %a.todotoggle{data: { content: relation.kid.human_todo}, href:  edit_kid_path(relation.kid, :anchor => 'todo') }
              %span.glyphicon.glyphicon-info-sign
        %td= relation.simple_term
        %td= relation.kid.human_exit_kind
        %td= human_date(relation.kid.exit_at)
        - if relation.mentor.present?
          %td= link_to(relation.mentor.display_name, relation.mentor)
          %td
            -if relation.mentor.todo.present?
              %a.todotoggle{data: { content: relation.mentor.human_todo}, href:  edit_mentor_path(relation.mentor, :anchor => 'todo') }
                %span.glyphicon.glyphicon-info-sign
          %td= relation.mentor.human_exit_kind
          %td= human_date(relation.mentor.exit_at)
        - else
          %td
          %td
          %td
          %td
        %td
          - if relation.school.present?
            = link_to relation.school.display_name, relation.school
        %td
          - if relation.inactivatable?
            =button_to "Inaktiv setzen", kid_mentor_relation_path(id: relation.kid_id), method: :delete, class: 'btn btn-xs btn-default'
-else
  %p Kein Eintrag vorhanden
