= simple_form_for [@review.kid, @review] do |form|
  = form.input :held_at
  = form.input :attendee
  = form.input :reason
  = form.input :kind
  = form.input :content
  = form.input :outcome
  = form.input :note

  .col-sm-offset-3.col-sm-9
    = form.button :submit
