= simple_form_for [resource.kid, resource], :html => { :id => 'content_form' } do |form|
  = date_picker(form, :held_at)
  = form.input :attendee
  = form.input :reason
  = form.input :kind
  = form.input :content
  = form.input :outcome
  = form.input :note

  = form.submit
