- content_for :contextual_links do
  = contextual_links do
    = contextual_link_to :xlsx, site_path(format: 'xlsx')

= simple_form_for @site do |form|
  = form.input :title
  = form.input :footer_address
  = form.input :footer_email
  = form.input :term_collection_start
  = form.input :term_collection_end
  = form.input :feature_coach
  = form.input :notifications_default_email
  = form.input :comment_bcc
  .form-group
    = form.label :terms_of_use_content, class: 'control-label col-sm-3'
    .col-sm-9
      = form.text_area :terms_of_use_content, class: 'form-control'
  = form.input :logo
  = form.input :css
  = form.input :teachers_can_access_reviews
  = form.input :kids_schedule_hourly
  = form.input :public_signups_active

  .col-sm-offset-3.col-sm-9
    = form.button :submit
