= simple_form_for @site do |form|
  = form.input :footer_address
  = form.input :footer_email
  = form.input :feature_coach
  = form.input :logo

  .col-sm-offset-3.col-sm-9
    = form.button :submit
