-if current_user.is_a?(Admin)
  %li
    = nav_link Admin.model_name.human, admins_path
-if can? :read, Kid
  %li= nav_link Kid.model_name.human, kids_path
-# FIXME load of teachers for mentors via cancan does not yet
-#       work correctly, see ability_spec.rb. till this is fixed
-#       we do not display this option to mentors
-if current_user.is_a?(Admin) or current_user.is_a?(Principal)
  %li= nav_link :teacher
-if current_user.is_a?(Admin)
  %li= nav_link :mentor
  %li= nav_link :principal
  %li= nav_link :kid_mentor_relation
  %li=  nav_link :substitutions
-if can? :read, Reminder
  %li= nav_link :reminder
%li= nav_link :document
-if can? :read, School
  %li= nav_link :school
-if can? :search, Kid
  %li= nav_link :available_kids