!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title FutureKids
    = stylesheet_link_tag 'application', :media => :all
    = stylesheet_link_tag 'print', :media => :print
    = javascript_include_tag 'application'
    = csrf_meta_tag
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    #teaser.container
      .row-fluid
        .col-md-3
          .logo=image_tag('logo.jpg')
        .col-md-9
          = image_tag 'teaser.jpg', size: '685x81'

    - if user_signed_in?
      -# nav gets affixed when scrolling
      -# nav-wrapper stays on normal flow to assure smooth scrolling
      -# see register_nav_affix()
      #nav-wrapper
        #nav
          .container
            .navbar.navbar-default{role: "navigation"}
              %ul.nav.navbar-nav
                -if current_user.is_a?(Admin)
                  %li
                    = nav_link Admin.model_name.human, admins_path
                -if can? :read, Kid
                  %li= nav_link Kid.model_name.human, kids_path
                -# FIXME load of teachers for mentors via cancan does not yet
                -#       work correctly, see ability_spec.rb. till this is fixed
                -#       we do not display this option to mentors
                -if current_user.is_a?(Admin)
                  %li= nav_link Teacher.model_name.human, teachers_path
                  %li= nav_link Mentor.model_name.human, mentors_path
                  %li= nav_link Principal.model_name.human, principals_path
                -if can? :read, Reminder
                  %li= nav_link Reminder.model_name.human, reminders_path
                %li= nav_link 'Anleitungen & Dokumente', documents_path
                -if can? :read, School
                  %li= nav_link School.model_name.human, schools_path
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown(style="display: block !important")
                  = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                    %span.glyphicon.glyphicon-user
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to current_user.display_name, current_user
                    %li.divider
                    %li= link_to 'Abmelden', destroy_user_session_path, :method => :delete



    #main
      .container
        .row-fluid
          .col-md-3
            - if user_signed_in?
              %ul.nav
                = yield :sidebar
                %li
                  %h4 Auf dieser Seite
                  %ul.nav
                    %li= link_to 'Seitenbeginn', :anchor => 'header'
                    = yield :subnav
                    %li= link_to 'Seitenende', :anchor => 'footer'
          .col-md-9
            - flash.each do |name, msg|
              = boot_alert(msg, name)
            = yield

    #footer
      .container(style='border-top: 1px solid #eee')
        .col-md12
          AOZ
          Zypressenstrasse 60
          8040 Zürich

          Telefon: 044 415 65 91
          = mail_to 'info@aoz-futurekids.ch', nil, :encode => "hex"
