
!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    %title= @site.title.present? ? @site.title : "FutureKids"
    = stylesheet_link_tag 'application', :media => :all
    = stylesheet_link_tag 'print', :media => :print
    - if @site.css.present?
      %style=raw(@site.css)
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.svg', :rel => 'icon', :type => 'image/svg+xml'
    = csrf_meta_tag

  %body(class="#{controller_name} #{action_name}")
    #header
      - if !user_signed_in?
        #teaser.container

      - if user_signed_in?
        #nav-wrapper
          #nav
            .container
              .navbar.navbar-default{role: "navigation"}
                %ul.nav.navbar-nav.hidden-xs.hidden-sm.visible-md.visible-lg
                  = render 'layouts/navigation_items'

                %ul.nav.navbar-nav.navbar-left.visible-xs.visible-sm.hidden-md.hidden-lg
                  %li.dropdown(style="display: block !important")
                    = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                      %span.glyphicon.glyphicon-menu-hamburger
                      %span.caret
                    %ul.dropdown-menu
                      = render 'layouts/navigation_items'


                %ul.nav.navbar-nav.navbar-right
                  %li.dropdown(style="display: block !important")
                    = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                      %span.glyphicon.glyphicon-user
                      %span.caret
                    %ul.dropdown-menu
                      %li= link_to current_user.display_name, current_user
                      -if can? :read, Site
                        %li= link_to Site.model_name.human, edit_site_path
                      %li.divider
                      %li= link_to 'Abmelden', destroy_user_session_path, method: :delete

    - if user_signed_in? && !current_user.terms_of_use_accepted
      .container
        .term-of-use
          %h1
            = t('activerecord.attributes.site.terms_of_use_accept.terms_of_use_headline')
          = @site.terms_of_use_content_parsed&.html_safe
          = button_to t('activerecord.attributes.site.terms_of_use_accept.button_accept'), { action: "edit_terms", :controller=>"users", :method => :get }, { class: 'btn btn-xs btn-success term-of-use-button' }
      #main
        .container
        - if @site.footer_address.present? || @site.footer_email.present?
          #footer
            .container
              .col-md12
                = @site.footer_address
                - if @site.footer_email.present?
                  = mail_to @site.footer_email, nil, :encode => "hex"
    - else
      #sidebar-wrapper
        .container
          #sidebar.hidden-xs.hidden-sm
            %h1.logo
              - if @site.logo.present?
                %img{:src => rails_representation_url(@site.logo_medium)}

            - if user_signed_in?
              .contextual_links_panel.panel.panel-default.hidden-xs.hidden-sm
                = render 'layouts/actions'
              = yield :sidebar

      #main
        .container
          .row
            #content.col-md-offset-3.col-md-9
              - flash.each do |name, msg|
                = boot_alert(msg, name) unless msg.blank?
              = yield

        .container
          .row.visible-xs.visible-sm.hidden-md.hidden-lg
            - if user_signed_in?
              .contextual_links_panel.mobile-actions.panel.panel-default
                = render 'layouts/actions'

      - if @site.footer_address.present? || @site.footer_email.present?
        #footer
          .container
            .col-md12
              = @site.footer_address
              - if @site.footer_email.present?
                = mail_to @site.footer_email, nil, :encode => "hex"

-
