!!! 5

%html
  %head
    %title FutureKids
    = stylesheet_link_tag %w(formtastic formtastic_changes calendrical stylesheet),
      :media => :all, :cache => true
    = stylesheet_link_tag 'print', :media => :print
    = javascript_include_tag %w(jquery jquery.calendrical rails application), :cache => true
    = csrf_meta_tag
    %meta{'charset' => 'utf-8'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

  %body
    = image_tag("bg0#{rand(8)}.jpg", :id => 'bg')
    #container
      - if user_signed_in?
        #nav
          %h4 Navigation
          %ul.site
            -if can? :read, Admin
              %li= link_to Admin.model_name.human, admins_path
            -if can? :read, Kid
              %li= link_to Kid.model_name.human, kids_path
            -# FIXME load of teachers for mentors via cancan does not yet
            -#       work correctly, see ability_spec.rb. till this is fixed
            -#       we do not display this option to mentors
            -if current_user.is_a?(Admin)
              %li= link_to Mentor.model_name.human, mentors_path
              %li= link_to Teacher.model_name.human, teachers_path
            -if can? :read, Reminder
              %li= link_to Reminder.model_name.human, reminders_path
          %h4 Aktionen
          %ul.actions
            -# actions for direct accessible resources
            - unless defined?(parent)
              %li= link_to 'Übersicht', collection_path
              -if can? :create, resource_class
                %li= link_to 'Neuer Eintrag', new_resource_path
              -if %w(show edit).include?(controller.action_name)
                %li= link_to 'Anzeigen', resource_path
              -if %w(show).include?(controller.action_name) && can?(:update, resource.class)
                %li= link_to 'Bearbeiten', edit_resource_path
            -# actions for nested resources
            - if defined?(parent)
              %li= link_to 'Abbrechen', parent
            -# common actions
            -if %w(new edit create update).include?(controller.action_name)
              %li= button_to_function 'Speichern', "$('#content_form').submit()"
            = yield :actions
          %h4 Auf dieser Seite
          %ul.subnav
            %li= link_to 'Seitenbeginn', :anchor => 'header'
            = yield :subnav
            %li= link_to 'Seitenende', :anchor => 'footer'
      #header
        %ul
          - if user_signed_in?
            %li
              Eingeloggt als
              = current_user.email
              = "(#{current_user.class.model_name.human})"
              = link_to 'Abmelden', destroy_user_session_path
          - else
            %li= link_to 'Anmelden', new_user_session_path
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
          
      #content
        = yield
      #footer

